#header {
    background: white;

    .error {
        color: red;
    }

    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}